<body style="background-color: #f4f4f4;">
  <!-- Milestone 2 Banner -->
  <div style="background-color: #ff5252; color: white; text-align: center; padding: 20px; font-size: 36px; font-weight: bold;">
      MILESTONE 2
  </div>

  <div class="navbar-fixed">
    <nav class="turquoise">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Darkroom</a>
        <form class="right">
          <div class="input-field">
            <input id="search" class="left" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons right">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
    
  <div class="container">
      <h1>Image Upload </h1>
      <%= typeof msg != 'undefined' ? msg : '' %>
      <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn grey">
              <span>Image</span>
              <input name="image" type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <button type="submit" class="btn">Submit</button>
      </form>
      <hr>
      <br>
      
      <div class="row">
        <% images.forEach(function(image){ %>
          <div class="column">
            <a href="/image/<%= image._id %>"> 
              <img src="<%= image.path %>" class="responsive-img" alt="<%= image.name %>"> 
            </a>
          </div>
        <% }); %>  
      </div>
  </div>
